.container {
  background-color: #fff;
  padding: 2rem;
}
#title {
  margin-top: 1rem;
}
.title {
  padding-bottom: 1rem;
  border-bottom: 2px solid #000;

  h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}

#textarea-no-resize {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.overLength {
  color: red;
}
.inputButton button {
  margin-right: 0.5rem;
}